<p id="notice"><%= notice %></p>
<%= link_to "ホーム", root_path %><br><br>
こんにちは、
<%= link_to current_user.email, "/users/show" %>
<br><br>
<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<br />
<hr /><br />
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>
<% if @book.image.attached? %>
<p>
    <%= image_tag(@book.image) %>
</p>
<%else%>
<p>
    アーカイブされた画像はありません
</p>
<%end%>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
